#calculator {
    display: flex;
    height: 500px;
    width : 300px;
    justify-content: center;
    align-items: flex-start;
}

button {
    height: 50px;
    width: 50px;
}

#display {
    height: 30px;
    width: 295px;
    border: solid;
}

#controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#controls button {
    flex: 1 1 33%;
}


 #operators {
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 
#master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    display: flex;
   justify-content: center;
}